/* reset */
body,h1 {
    margin: unset;
    padding: unset;
}

h1,p{
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}

a{
    text-decoration-line: none; /*링크 밑 줄 지우기 */
}

/* header */
.header {
    box-shadow: inset 0 0 20px red;
    height: 100px;

    position: relative;
}
.header-text{
    color:aqua;
    font-size: 35px;

    position: absolute;
    left: 47%;
    top: 30%;
}

/* main */
.main {
    box-shadow: inset 0 0 20px red;
    text-align: center;
}

/* footer */
.footer {
    box-shadow: inset 0 0 20px red;
    display: flex;
    gap:20px;

    justify-content: center;
}

.game-link{
    color: red;
}