/* reset */
body,h1 {
    margin: unset;
    padding: unset;
}

h1,p{
    font-size: 14px;
    font-weight: bold;
    font-family: arial;
}

/* header */
.header {
    box-shadow: inset 0 0 20px red;
}

/* main */
.main {
    box-shadow: inset 0 0 20px red;
}

/* footer */
.footer {
    box-shadow: inset 0 0 20px red;
}